version: '2.1'

only_tags: &only_tags
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /.*/

orbs:
  github-cli: circleci/github-cli@2.7.2
  docker: circleci/docker@2.8.2
  codecov: codecov/codecov@5.4.3
  go: circleci/go@3.0.3
  github-utils: trustedshops-public/github-utils@1.1.3
  semantic-release: trustedshops-public/semantic-release@6.1.0
  deterministic-zip: timo-reymann/deterministic-zip@1.0.0

executors:
  go:
    docker:
      - image: cimg/go:1.25
  python:
    docker:
      - image: cimg/python:3.13
  node:
    docker:
      - image: cimg/python:3.13-node

jobs:
  test:
    executor: go
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - go/with-cache:
          key: test
          steps:
            - run:
                name: Run tests
                command: |
                  go test -coverprofile=coverage.txt -covermode=atomic   -v ./...
                  make save-coverage-report
      - codecov/upload
      - store_artifacts:
          path: coverage.html
  attach-binaries-to-release:
    executor: python
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - github-cli/install:
          version: "2.21.2"
      - run:
          name: Attach binaries to release
          command: |
            gh release upload ${CIRCLE_TAG} dist/*.zip dist/*.zip.sha256
  build:
    executor: go
    steps:
      - checkout
      - deterministic-zip/install
      - go/with-cache:
          key: build
          steps:
            - run:
                name: Build binaries
                command: |
                  make build -j4
                  make pack
            - persist_to_workspace:
                root: ./
                paths:
                  - dist/*.zip
                  - dist/*.zip.sha256
  publish-container-image:
    executor: docker/docker
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - setup_remote_docker:
          version: default
      - run:
          name: Build and publish images
          command: |
            echo "$DOCKER_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker buildx create --use
            make build-docker
      - docker/update-description:
          image: timoreymann/container-hive
          docker-username: DOCKER_USERNAME
          docker-password: DOCKER_TOKEN
  build-gh-pages:
    executor: node
    environment:
      PIP_CACHE_DIR: /tmp/pip-cache
    steps:
      - checkout
      - restore_cache:
          key: python-wrapper-dependencies-{{ checksum "python_wrapper/pyproject.toml" }}
      - run:
          name: Clear cache for mkdocs build
          command: rm -rf /tmp/pip-cache
      - restore_cache:
          key: mkdocs-dependencies-{{ checksum "requirements-docs.txt" }}
      - run:
          name: Build mkdocs documentation
          command: |
            mkdir gh-pages
            pip install -r requirements-docs.txt
            mkdocs build
            mv site/* gh-pages/
            touch gh-pages/.nojekyll
      - run:
          name: Copy schemas
          command: |
            mkdir -p gh-pages/schemas
            cp -r schemas/* gh-pages/schemas/
      - save_cache:
          key: mkdocs-dependencies-{{ checksum "requirements-docs.txt" }}
          paths:
            - "/tmp/pip-cache"
      - run:
          name: Set up CNAME
          command: |
            echo "container-hive.timo-reymann.de" > gh-pages/CNAME
      - github-utils/publish_github_pages:
          folder: gh-pages/
          git_commit_author_email: "no-reply@timo-reymann.de"
          git_commit_author_name: "CircleCI"

workflows:
  version: 2
  main:
    jobs:
      - test
      - build:
          requires:
            - test
      - build-gh-pages:
          filters:
            branches:
              only: main
  #      - semantic-release/with_existing_config:
  #          name: semantic-release
  #          additional_packages: "@google/semantic-release-replace-plugin"
  #          context:
  #            - semantic-release
  #          filters:
  #            branches:
  #              only:
  #                - main
  release:
    jobs:
      - build:
          <<: *only_tags
      - attach-binaries-to-release:
          <<: *only_tags
          requires:
            - build
      - publish-container-image:
          requires:
            - build
          <<: *only_tags
